WebAOMS/Service References/ws_sms/SMSWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_SMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_SMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEND_SMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SEND_SMSSoapIn">
    <wsdl:part name="parameters" element="tns:SEND_SMS" />
  </wsdl:message>
  <wsdl:message name="SEND_SMSSoapOut">
    <wsdl:part name="parameters" element="tns:SEND_SMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <wsdl:input message="tns:SEND_SMSSoapIn" />
      <wsdl:output message="tns:SEND_SMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSWebServiceSoap" type="tns:SMSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <soap:operation soapAction="http://tempuri.org/SEND_SMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSWebServiceSoap12" type="tns:SMSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <soap12:operation soapAction="http://tempuri.org/SEND_SMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSWebService">
    <wsdl:port name="SMSWebServiceSoap" binding="tns:SMSWebServiceSoap">
      <soap:address location="https://192.168.101.56/SMSWebService/SMSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSWebServiceSoap12" binding="tns:SMSWebServiceSoap12">
      <soap12:address location="https://192.168.101.56/SMSWebService/SMSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>